/* *************************************************************************** */
/* IMPORTS | GOOGLE-FONTS & BOOTSTRAP ICONS                                    */
/* *************************************************************************** */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* *************************************************************************** */
/* GENERAL RULES                                                               */
/* *************************************************************************** */

:root
{
    box-sizing: border-box; 

    --font-quicksand: "Quicksand", sans-serif;
    --font-righteous: "Righteous", sans-serif;

    --color-text-dark  : #212427;
    --color-text-bright: white;
    --color-danger: #E01A23;

    --color-1: #202020;
    --color-2: #f46049;
    --color-3: white;
    --color-4: #f1f1f1;
    --color-5: #EAEBEB;
    --color-6: #dcdcdc;
    --color-7: #dbdbdb;

    --color-8: #1e9ae0;
    --color-9: #fbbe5b;
    --color-11: #e1b2f0;
}

:focus
{
    outline: none;
}

*, *::before, *::after, *::marker 
{ 
    box-sizing: inherit; 
}

/* *************************************************************************** */
/* TEXT-HIGHLIGHTING                                                           */
/* *************************************************************************** */

::-moz-selection 
{
    color: var(--color-text-bright);
    background: var(--color-2);
}
  
::selection
{
    color: var(--color-text-bright);
    background: var(--color-2);
}

/* *************************************************************************** */
/* HTML - BODY                                                                 */
/* *************************************************************************** */

html
{

}

    body
    {
        font-family: var(--font-quicksand);
        color: var(--color-text-dark);

        margin: 0 !important;
        padding: 0 !important;
    }

        hr
        {
            background-color: var(--color-5);
            border: none;
            opacity: 100%;

            height: 1px;
            margin-top: 20px;
            margin-bottom: 20px; 
        }

        button
        {
            cursor: pointer;
        }

        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        p
        {
            margin: 0;
            padding: 0;
        }

        a
        {
            text-decoration: none;
            color: var(--color-text-dark);
        }

        .disabled-button
        {
            cursor: default;
            color: var(--color-text-bright) !important;
        }