/* *************************************************************************** */
/* NAVBAR                                                                      */
/* *************************************************************************** */

.navbar
{   
    z-index: 3;

    height: 45px;
    padding: 8px 25px;
    background-color: var(--color-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* *************************************************************************** */
    /* NAVBAR-BRAND                                                                */
    /* *************************************************************************** */

    .navbar .brand
    {
        font-family: var(--font-righteous);
        color: var(--color-text-bright);
    }

        .navbar .brand a
        {
            color: var(--color-text-bright);
        }

        .navbar .brand a:hover
        {
            color: var(--color-2);
        }

    /* *************************************************************************** */
    /* NAVBAR-MENU                                                                 */
    /* *************************************************************************** */

    .navbar ul
    {
            
    }

        .navbar ul li
        {
            display: inline-block;
            margin-left: 12px;
        }

            .navbar ul li a
            {
                color: var(--color-text-bright);
                font-size: 16px;
            }

            .navbar ul li a:hover
            {
                color: var(--color-2);
            }