

/* ########################################################################### */
/* COL-SX-CONTAINER                                                            */
/* ########################################################################### */

.col-sx-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100%;

    padding: 25px;
}

    /* --------------------------------------------------------------------------- */
    /* COL-SX-CONTAINER > BRAND                                                    */
    /* --------------------------------------------------------------------------- */

    .col-sx-container .brand
    {
        width: 100%;
        display: block;
        color: var(--color-6);
        font-family: var(--font-brand);
        font-size: 1.35em;
        text-align: left;
    }

        .col-sx-container .brand a
        {
            display: block;
            padding: 10px 15px;
            color: var(--color-6);
        }
        
        .col-sx-container .brand a:hover
        {
            
        }

    /* --------------------------------------------------------------------------- */
    /* COL-SX-CONTAINER > MENU                                                     */
    /* --------------------------------------------------------------------------- */

    .col-sx-container .menu
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
    }

        .col-sx-container .menu li
        {
            width: 100%;
            margin: 5px 0;
        }

        .col-sx-container .menu li:first-child
        {
            margin-bottom: 20px;
        }

        .col-sx-container .menu li:hover
        {
            
        }

            .col-sx-container .menu li .active
            {
                border-left: 10px solid var(--color-3);
                margin-left: -10px;
                background-color: var(--color-6) !important;
                color: var(--color-1) !important;
                font-weight: 650;
            }

            .col-sx-container .menu li a
            {
                display: block;
                padding: 15px 20px;
                border-radius: 4.5px;
                color: var(--color-6);
                font-size: 1.05em;
                font-weight: 500;
                letter-spacing: 0.35px;
                cursor: pointer;
            }
            
            .col-sx-container .menu li a:hover 
            {
                background-color: var(--color-2);
                color: var(--color-6);
            }

                .col-sx-container .menu li a i
                {
                    padding-right: 25px;
                }

        /* --------------------------------------------------------------------------- */
        /* COL-SX-CONTAINER > FORM-RICERCA                                             */
        /* --------------------------------------------------------------------------- */

        .col-sx-container .menu li .form-ricerca
        {
            width: 100%;
        }

            .col-sx-container .menu li .form-ricerca input
            {
                width: 100%;
                border: 0;
                padding: 18px;

                background-color: var(--color-2);
                border-radius: 4.5px;

                transition: background-color 0.15s ease-in-out;
                color: var(--color-1);
            }

            .col-sx-container .menu li .form-ricerca input::placeholder
            {
                font-size: 0.9em;
                color: var(--color-6);
            }

            .col-sx-container .menu li .form-ricerca input:focus
            {
                background-color: var(--color-6);
            }

    
    /* --------------------------------------------------------------------------- */
    /* COL-SX-CONTAINER > OTHER                                                    */
    /* --------------------------------------------------------------------------- */
    
    .col-sx-container .other
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

        .col-sx-container .contacts
        {
            width: 100%;
            background-color: var(--color-2);
            color: var(--color-6);
            text-align: center;
            border-radius: 4.5px;
            padding: 25px 15px;
            font-size: 0.85em;
            margin-bottom: 15px;
            letter-spacing: 0.3px;
        }

            .col-sx-container .contacts p
            {
                margin-bottom: 15px;
            }

            .col-sx-container .contacts a
            {
                display: block;
                background-color: var(--color-3);
                color: var(--color-6);
                border-radius: 4.5px;
                padding: 10px;
            }

            .col-sx-container .contacts a:hover
            {
                background-color: var(--color-6);
                color: var(--color-1);
            }


        /* --------------------------------------------------------------------------- */
        /* COL-SX-CONTAINER > BOTTOM                                                   */
        /* --------------------------------------------------------------------------- */

        .col-sx-container .bottom
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            background-color: var(--color-2);
            padding: 8px 15px;
            border-radius: 4.5px;
        }

            .col-sx-container .bottom .version
            {
                color: var(--color-6);
                font-size: 0.85em;
            }

            .col-sx-container .bottom .user
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

                .col-sx-container .bottom .user div
                {
                    margin-left: 15px;
                }

                .col-sx-container .bottom .user div a
                {
                    background-color: var(--color-6);
                    color: var(--color-1);
                    display: block;

                    border-radius: 50px;
                    text-align: center;

                    padding: 6px 8px;
                }

                .col-sx-container .bottom .user div a:hover
                {
                    background-color: var(--color-3);
                    color: var(--color-6);
                }